@model MVCReviewSite.Models.Review

@{
    ViewBag.Title = "Review Details";
}

@* User may view the details of a review by clicking a link on the review's thumbnail in the Reviews Index *@
<div>
    <h3>@Html.DisplayFor(model => model.PropertyName)</h3>
    <h4>@Html.DisplayFor(model => model.PropertyLocation)</h4>
    <h5>(@Html.DisplayFor(model => model.Category.CategoryName))</h5>
    </div>
<div class="title">
    <h3>@Html.DisplayFor(model => model.Title)</h3>
</div>
<div>
    <p>@Html.DisplayFor(model => model.Content)</p>
    <h6>Reviewed by @Html.DisplayFor(model => model.Reviewer) on @Html.DisplayFor(model => model.Date)</h6>
</div>
<br />
<p>
    @Html.ActionLink("Edit This Review", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
