@model IEnumerable<MVCReviewSite.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews</h2>

@* Review Index page gives user (a) opportunity to view list of reviews, and (b) the option of creating new review *@
<p>
    @Html.ActionLink("Create New Review", "Create")
</p>

@* A thumbnail representing each review will appear on Reviews Index page *@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div class="title">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    </div>
                    <h4>@Html.DisplayFor(modelItem => item.PropertyName)</h4>
                    <h5>@Html.DisplayFor(modelItem => item.PropertyLocation)</h5>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ReviewID }, new { @class = "btn btn-primary", role = "button" })</p>
                </div>
            </div>
        </div>
    }
</div>




