@model IEnumerable<MVCReviewSite.Models.Category>

@{
    ViewBag.Title = "Property Categories";
}

<h2>Property Categories</h2>

@* Administrator may view the list of Property Categories, and create new categories.
Administrator should create a set of Property Categories before any users may create Reviews. *@
<p>
    @Html.ActionLink("Create New Category", "Create")
</p>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
